<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
  <strong>Email:</strong>
  <%= @student.email %>
  <strong>Password:</strong>
  <%= @student.password %>
  <strong>Education Level:</strong>
  <%= @student.education_level %>
  <strong>University:</strong>
  <%= @student.university %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
