<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>University:</strong>
  <%= @library.university_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Max days borrowed:</strong>
  <%= @library.max_days_borrowed %>
</p>

<p>
  <strong>Overdue Fines:</strong>
  <%= @library.overdue_fines %>
</p>

<div class="field">
  <%= form.label :university %>
  <%= select("library", "university_id", University.all.collect{ |c| [ c.name, c.id] }) %>
</div>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
