<!DOCTYPE html>
<html>
  <head>
    <title>LibraryManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <h1 align='center'>Library Management System</h1>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h3 align='center'>Created by RubyPoetsSociety</h3>
  </body>
</html>
